.git/
.svn/
.metadata/
.idea/
.recommenders/
.settings/
coverage/
node_modules/
typings
/artifact/**/*.js
/artifact/**/*.ts
/artifact/**/*.map
/**/src/ts/**/*.js
/**/src/ts/**/*.map
*.log
.idea/typescript-webpack-sass-boilerplate.iml
.DS_Store
.project
.classpath
.tomcatplugin
test-results.xml
