<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" >
    <title>drawChat</title>
    <link href="app.css?{{htmlWebpackPlugin.options.cacheBreak}}" type="text/css" rel="stylesheet"/>
</head>
<body>
<script src="app.js?{{htmlWebpackPlugin.options.cacheBreak}}"></script>
</body>
</html>